$size                 = 50px
$offset               = 36px
$animate-speed        = 3s
$animation-function   = linear //cubic-bezier(0.330, -0.135, 0.150, 1.650)


@keyframes draw-infinity-in-middle_BROKEN
  0%
    transform-origin: 64px 50%
    transform rotate(0deg)
  50%
    transform-origin: 64px 50%
    transform rotate(-360deg)
  100%
    transform-origin: -16px 50%
    transform rotate(0deg)


.draw-infinity-in-middle_BROKEN
  filter url('#goo')
  -webkit-filter url('#goo')
  absolute top 0 left 0 right 0 bottom 0
  margin auto

  &:before
  &:after
    content ''
    size $size
    display block
    background $color
    margin ($size / -2) 0 0 ($size / -2)
    absolute top 50% left 50%
    border-radius 100%

  &:before
    animation draw-infinity-in-middle_BROKEN $animation-function $animate-speed infinite

  &:after
    transform translate(80px, 0)
    box-shadow $color -160px 0
