$size                 = 50px
$offset               = 74px
$animation-speed      = 14s
$animation-function   = cubic-bezier(0.330, -0.135, 0.150, 1.650)


/*

1)  BS >            7)   BS /\          13)  BS <           19)  BS \/
2)                  8)                  14)                 20)
3)                  9)                  15)                 21)
4)  B >             10)  B /\           16)  B <            22)  B \/
5)  B + BS \/       11)  B + BS >       17)  B + BS /\      23)  B + BS <
6)  B + BS <        12)  B + BS \/      18)  B + BS >       24)  B + BS /\

1)  A + AS >        7)   A + AS /\      13)  A + AS <       19)  A + AS \/
2)  A + AS \/       8)   A + AS >       14)  A + AS /\      20)  A + AS <
3)  AS <            9)   AS \/          15)  AS >           21)  AS /\
4)                  10)                 16)                 22)
5)                  11)                 17)                 23)
6)  A <             12)  A \/           18)  A >            24)  A /\

*/

@keyframes sod-four-sticky-balls-clockwise--keyframe--before
  0%
    transform translate(0, 0)
    box-shadow $color 0 0

  4.166%
  8.333%
  12.5%
    transform translate(0, 0)
    box-shadow $color $offset 0

  16.666%
    transform translate($offset, 0)
    box-shadow $color 0 0
  20.833%
    transform translate($offset, $offset)
    box-shadow $color 0 0
  25%
    transform translate(0, $offset)
    box-shadow $color 0 0

  29.166%
  33.333%
  37.5%
    transform translate(0, $offset)
    box-shadow $color 0 (-1 * $offset)

  41.666%
    transform translate(0, 0)
    box-shadow $color 0 0

  45.833%
    transform translate($offset, 0)
    box-shadow $color 0 0

  50%
    transform translate($offset, $offset)
    box-shadow $color 0 0

  54.166%
  58.333%
  62.5%
    transform translate($offset, $offset)
    box-shadow $color (-1 * $offset) 0

  66.666%
    transform translate(0, $offset)
    box-shadow $color 0 0
  70.833%
    transform translate(0, 0)
    box-shadow $color 0 0
  75%
    transform translate($offset, 0)
    box-shadow $color 0 0

  79.166%
  83.333%
  87.5%
    transform translate($offset, 0)
    box-shadow $color 0 $offset

  91.666%
    transform translate($offset, $offset)
    box-shadow $color 0 0
  95.833%
    transform translate(0, $offset)
    box-shadow $color 0 0
  100%
    transform translate(0, 0)
    box-shadow $color 0 0


/*

1)  A + AS >        7)   A + AS /\      13)  A + AS <       19)  A + AS \/
2)  A + AS \/       8)   A + AS >       14)  A + AS /\      20)  A + AS <
3)  AS <            9)   AS \/          15)  AS >           21)  AS /\
4)                  10)                 16)                 22)
5)                  11)                 17)                 23)
6)  A <             12)  A \/           18)  A >            24)  A /\

*/

@keyframes sod-four-sticky-balls-clockwise--keyframe--after
  0%
    transform translate(0, 0)
    box-shadow $color 0 0
  4.166%
    transform translate($offset, 0)
    box-shadow $color 0 0
  8.333%
    transform translate($offset, $offset)
    box-shadow $color 0 0

  12.5%
  16.666%
  20.833%
    transform translate($offset, $offset)
    box-shadow $color (-1 * $offset) 0

  25%
    transform translate(0, $offset)
    box-shadow $color 0 0
  29.166%
    transform translate(0, 0)
    box-shadow $color 0 0
  33.333%
    transform translate($offset, 0)
    box-shadow $color 0 0

  37.5%
  41.666%
  45.833%
    transform translate($offset, 0)
    box-shadow $color 0 $offset

  50%
    transform translate($offset, $offset)
    box-shadow $color 0 0
  54.166%
    transform translate(0, $offset)
    box-shadow $color 0 0
  58.333%
    transform translate(0, 0)
    box-shadow $color 0 0

  62.5%
  66.666%
  70.833%
    transform translate(0, 0)
    box-shadow $color $offset 0

  75%
    transform translate($offset, 0)
    box-shadow $color 0 0
  79.166%
    transform translate($offset, $offset)
    box-shadow $color 0 0
  83.333%
    transform translate(0, $offset)
    box-shadow $color 0 0

  87.5%
  91.666%
  95.833%
    transform translate(0, $offset)
    box-shadow $color 0 (-1 * $offset)

  100%
    transform translate(0, 0)
    box-shadow $color 0 0



.sod-four-sticky-balls-clockwise
  absolute top 0 left 0 right 0 bottom 0
  margin: auto
  filter url('#goo')
  -webkit-filter url('#goo')

  &:before
  &:after
    content ''
    size $size
    display: block
    background-color: $color
    absolute top 50% left 50%
    margin (-1 * $size - 10px) 0 0 (-1 * $size - 10px)
    border-radius 50%
    box-shadow $color 0 0

  &:before
    animation: sod-four-sticky-balls-clockwise--keyframe--before $animation-function $animation-speed infinite

  &:after
    animation: sod-four-sticky-balls-clockwise--keyframe--after $animation-function $animation-speed infinite
