$size                 = 50px
$offset               = 36px
$animate-speed        = 1.7s
$animation-function   = cubic-bezier(0.330, -0.135, 0.150, 1.650)


@keyframes sod-four-sticky-balls-blob--keyframe--before
  0%
    transform scale(2) translate(0, 0)
    box-shadow $color 0 0
  25%
    transform scale(1.5) translate(-1 * $offset, -1 * $offset)
    box-shadow $color 0 0
  50%
    transform scale(1) translate(-1 * $offset, -1 * $offset)
    box-shadow $color 0 (2 * $offset)
  75%
    transform scale(1.5) translate($offset, -1 * $offset)
    box-shadow $color (-2 * $offset) (2 * $offset)
  100%
    transform scale(2) translate(0, 0)
    box-shadow $color 0 0

@keyframes sod-four-sticky-balls-blob--keyframe--after
  0%
    transform scale(2) translate(0, 0)
    box-shadow $color 0 0
  25%
    transform scale(1.5) translate($offset, $offset)
    box-shadow $color 0 0
  50%
    transform scale(1) translate($offset, $offset)
    box-shadow $color 0 (-2 * $offset)
  75%
    transform scale(1.5) translate(-1 * $offset, $offset)
    box-shadow $color (2 * $offset) (-2 * $offset)
  100%
    transform scale(2) translate(0, 0)
    box-shadow $color 0 0



.blobs
  filter url('#goo')
  -webkit-filter url('#goo')
  absolute top 0 left 0 right 0 bottom 0
  margin auto

  &:before
  &:after
    content ''
    size $size
    display block
    background $color
    margin ($size / -2) 0 0 ($size / -2)
    absolute top 50% left 50%
    border-radius 100%

  &:before
    animation sod-four-sticky-balls-blob--keyframe--before $animation-function $animate-speed infinite

  &:after
    animation sod-four-sticky-balls-blob--keyframe--after $animation-function $animate-speed infinite
