$container-size         = 80px
$shadow-size            = 10px
$shadow-offset          = 9px
$shadow-difference-size = 0
$animation-speed        = 0.7s
$animation-function     = linear // cubic-bezier(0.22, 0.61, 0.36, 1)

$before-size  = $container-size - $shadow-size * 2 - $shadow-difference-size
$after-size   = $container-size


@keyframes spinner-100--before
  100%
    transform rotateY(360deg)

@keyframes spinner-100--after
  100%
    transform rotateY(-360deg)


.spinner-100
  size $container-size
  absolute top 50% left 50%
  margin: ($container-size / -2) 0 0 ($container-size / -2)
  //transform rotateX(60deg) rotateY(40deg)
  //perspective 150px
  &:before
  &:after
    content ''
    display: block
    position absolute
    border-radius 50%

  &:before
    size $before-size
    margin-top ($before-size / -2)
    top 50%
    right ($shadow-difference-size / 2)
    transform rotateY(0deg)
    transform-origin ($shadow-size * 2) 0
    box-shadow #ff0283 -1 * $shadow-size 0 0 $shadow-offset
  &:after
    size $after-size
    top 0
    left 0
    transform rotateY(0deg)
    transform-origin ($size / 2) ($size / 2 + 10px)
    box-shadow #fff $shadow-size 0 0 $shadow-offset
    animation spinner-100--after $animation-speed $animation-function infinite
