doctype html
html
  head
    title SpinOneDiv
    meta(charset="utf-8")
    meta(name="fragment" content="!")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    link(href="./style.css" rel="stylesheet")
    link(href="../../lib/spinonediv.css" rel="stylesheet")

  body

    .content
      .items
        .item
          .item-in
            .spin.sod-triangle-in-hexagon
            //.spin.sod-triangle-in-hexagon.sp2
            //.spin.sod-triangle-in-hexagon.sp3
            //.spin.sod-triangle-in-hexagon.sp4
            //.spin.sod-triangle-in-hexagon.sp5
            //.spin.sod-triangle-in-hexagon.sp6
        .item
          .item-in
        .item
          .item-in
        .item
          .item-in
        .item
          .item-in
        .item
          .item-in
        .item
          .item-in
