doctype html
html
  head
    title SpinOneDiv
    meta(charset="utf-8")
    meta(name="fragment" content="!")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    link(href="./style.css" rel="stylesheet")
    link(href="../../lib/spinonediv.css" rel="stylesheet")

  body

    .content
      .items
        .item
          .item-in
            .spin.sod-four-sticky-balls-clockwise
        .item
          .item-in
            .spin.sod-four-sticky-balls-clockwise-2
        .item
          .item-in
            .spin.blobs
        .item
          .item-in
        .item
          .item-in
        .item
          .item-in


    svg(xmlns="http://www.w3.org/2000/svg" version="1.1")
      defs
        filter#goo
          feGaussianBlur(in="SourceGraphic" stdDeviation="10" result="blur")
          feColorMatrix(in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo")
          feBlend(in="SourceGraphic" in2="goo")
