doctype html
html
  head
    title SpinOneDiv
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(href="./style.css" rel="stylesheet")
    link(href="../../lib/spinonediv.css" rel="stylesheet")

  body

    .content
      .spinners
        for num, index in [ 2, 4, 5, 6, 7 ]
          .spinner
            .spinner-in
              .spinner-title
                span.spinner-title-pre spinner -
                span.spinner-num #{num}
              .core(class="spinner-#{num}")
