@import "nib"
@import "_mixins"
@import "_fonts"


$main-color = #9b31ff


body
  font 18px/26px 'Noto Sans', sans-serif


.content
  max-width: 1200px
  margin 0 auto
  padding 60px 5px 50px


.hero
  margin-bottom: 60px
  user-select none
  cursor: default
  text-align: center

.title
  line-height: 50px
  margin-bottom: 10px
  font-weight: 600
  font-size: 50px
  color $main-color

.subtitle
  font-size: 15px
  
.github-button
  line-height: 24px
  background-color $main-color
  padding: 16px 24px
  margin-top: 30px
  text-decoration: none
  text-align: center
  font-size: 18px
  color: #fff
  border-radius 999px
  transition: all 0.25s ease-out
  display-inline-block()
  &:hover
    background-color darken($main-color, 10%)
  
.github-button-icon
  size 24px
  margin-right: 15px
  stroke-width: 0
  fill: #fff
  vertical-align: middle
  position: relative
  top: -1px
  display-inline-block()


.spinners
  font-size: 0

.spinner
  width: 25%
  position: relative
  display-inline-block()

.spinner-in
  background repeating-linear-gradient(
      to right,
      #052c33,
      #052c33 1px,
      transparent 1px,
      transparent 12.5%
  ), repeating-linear-gradient(
      to bottom,
      #052c33,
      #052c33 1px,
      transparent 1px,
      transparent 12.5%
  )
  background-color: #07303a //#ecf3fb
  margin 20px
  padding-bottom: calc(100% - 20px)
  position: relative
  user-select none
  border-radius 6px
  &:before
  &:after
    content ''
    display: block
    background-color: #05272d
    position absolute
  &:before
    width: 100%
    height: 1px
    top 50%
  &:after
    width: 1px
    height: 100%
    left 50%

.spinner-title
  line-height: 20px
  absolute top 5px right 12px
  cursor: default
  font-size: 0
  color rgba(23, 209, 255, 0.13)

.spinner-title-pre
  vertical-align: top
  margin 5px 8px 0 0
  font-weight: 600
  font-size: 18px
  display-inline-block()

.spinner-num
  vertical-align: top
  line-height: 40px
  font-weight: 600
  font-size: 40px

.spinner-under-construction-title
  line-height: 30px
  absolute top 10px right 12px
  cursor: default
  font-weight: 600
  font-size: 30px
  color rgba(23, 209, 255, 0.13)

.spinner-under-construction-icon
  size 70%
  margin auto
  absolute top 0 left 0 right 0 bottom
  z-index: 100
  fill: rgba(23, 209, 255, 0.13)
  transform rotate(180deg)

.core
  position absolute !important
  top 50%
  left 50%
  z-index: 100


.footer
  padding-bottom 60px
  text-align: center
  color $main-color
  letter-spacing 1px
  font-size: 15px

.footer-link
  position: relative
  margin-left: 6px
  text-decoration: none
  font-weight: 600
  color $main-color
  display-inline-block()
  &:after
    content ''
    display: block
    width: 100%
    height: 1px
    background-color: $main-color
    absolute bottom 1px left 0
    opacity: 0.3
    transition all 0.08s linear
  &:hover
    &:after
      opacity: 1



@media (max-width: 1000px)
  .spinner
    width: 33.333%

@media (max-width: 700px)
  .spinner
    width: 50%

@media (max-width: 500px)
  .spinner
    width: 100%
