@import "../node_modules/nib/lib/nib"
@import "_variables"

@import "spinners/triangle-in-hexagon"
@import "spinners/four-sticky-balls-clockwise"
@import "spinners/four-sticky-balls-clockwise-2"
@import "spinners/four-sticky-balls-clockwise-3"
@import "spinners/draw-infinity-in-middle"
@import "spinners/draw-infinity-in-middle_BROKEN"
@import "spinners/draw-infinity-in-middle_BROKEN_2"
