@import "../modules";

$triangle-container-width         : 120px;
$triangle-height                  : $triangle-container-width / 2;
$triangle-edge-size               : floor($triangle-container-width / sqrt(3));
$triangle-container-height        : 2 * $triangle-edge-size;
$animation-speed                  : 3s;
$animation-step-percentage        : 16.6666666%;
$animation-function               : linear;

// cos(30deg) between edge and X
$triangle-container-margin-left   : floor(-1 * $triangle-edge-size * sqrt(3) / 4);
// cos(60deg) between edge and Y
$triangle-container-margin-top    : -1 * $triangle-edge-size / 4;


@keyframes spinner-9--container {
  0% {
    transform: rotate(30deg);
  }
  16.666% {
    transform: rotate(-30deg);
  }
  33.333% {
    transform: rotate(-90deg);
  }
  49.999% {
    transform: rotate(-150deg);
  }
  66.666% {
    transform: rotate(-210deg);
  }
  83.333% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-330deg);
  }
}

@keyframes spinner-9--before {
  100% {
    transform: rotateX(180deg)
  }
}

@keyframes spinner-9--after {
  100% {
    transform: rotateX(180deg)
  }
}


.spinner-9 {
  @include size(0);
  position: absolute;
  top: 50%;
  left: 50%;
  user-select: none;
  transform: rotate(30deg);
  animation: spinner-9--container $animation-speed steps(1) infinite;

  &:before,
  &:after {
    content: '';
    display: block;
    border-bottom: $triangle-height solid $color;
    border-left: ($triangle-edge-size / 2) solid transparent;
    border-right: ($triangle-edge-size / 2) solid transparent;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1 * $triangle-edge-size;
    margin-top: -1 * $triangle-height;
    transform: rotateX(0deg);
    transform-origin: 50% 100%;
    animation: spinner-9--before ($animation-speed / 6) $animation-function infinite;
  }

  &:after {
    animation-name: spinner-9--after;
  }
}
